* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
}

.gallery {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  gap: 10px;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.active {
  display: flex !important;
}

.selectedImg {
  display: block;
  height: 500px;
  width: 500px;
}

.prev,
.next {
  position: fixed;
  cursor: pointer;
  padding: 15px 25px;
  margin: 0 15px;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.arrows {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
}
